APACHE_VHOST_SERVER_ADMIN=webmaster@example.com
APACHE_VHOST_SERVER_NAME=_
APACHE_VHOST_DOCUMENT_ROOT=/var/www/html/public
APACHE_VHOST_SSL_CERTIFICATE_FILE=/etc/ssl/certs/ssl-cert-snakeoil.pem
APACHE_VHOST_SSL_CERTIFICATE_KEY_FILE=/etc/ssl/certs/ssl-cert-snakeoil.key